.page-header {
    padding-bottom: 10px;
    margin-top: -10px;
}

.header-txt {
     font-family: 'Merriweather', serif;
}

body {
    font-family: 'Karla', sans-serif;
    background-color:#fafafa;
}

.img-container {position: relative;}
.img-container .link {
    position: absolute;
    top: -10px;
    left: -10px;
}

.top-buffer { margin-top: 50px; margin-bottom: 50px;}

.pad {
    padding: 10px 20px;
}


.artist-name {
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 5px;
}

.album-name {
    text-align: center;
    font-size: 16px;
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 10px;
}

.similarity {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding-top: 2px;
}

.genre {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;

}

.spotify {
    margin: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
