{% extends "base.html" %}

{% block title %}AlbumPitch{% endblock %}

{% block page_content %}

<div class="page-header header-txt">
  <h1><b>Welcome to AlbumPitch!</b></h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 pad">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="album-query" name="album-query" placeholder="Artist and Album">
              <span class="input-group-btn">
                <button type="submit" id="submit" value="album-query" class="btn btn-primary">Pitch me an album! </button>
              </span>
            </div>
          </div>
        </form>
      </div>

      <div class="col-sm-6 pad">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="keyword-query" name="keyword-query" placeholder="Keyword">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Pitch me an album! </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type=text/javascript>

  $('#album-query').typeahead(
  {
    hint: true,
    highlight: true,
    minLength: 1,
  },
  {
    name: 'data',
    source: function(query, sync, async)
    {
      $.getJSON($SCRIPT_ROOT + '/_typeahead',
                {
                  q: query,
                }, function(data) {
                  async(data.matching_results);
                }
               );
    },
    limit: Infinity
  }
);
</script>

{% if seed_album %}
<div class="container-fluid header-txt">
  <h4>
    <div class="row-fluid buffer">
      <p>Here are some albums that AlbumPitch thinks you might enjoy if you liked...</p>
      <b>{{seed_album}}</b>
    </div>
  </h4>
</div>
{% elif seed_word %}
<div class="container-fluid header-txt">
  <div class="row-fluid buffer">
    <p>Here are some albums that AlbumPitch thinks are similar to the phrase...</p>
    <b>{{seed_word}}</b>
  </div>
</div>
{% elif no_result_query %}
<div class="container-fluid header-txt">
  <div class="row-fluid buffer">
    <p style="color: red"> Sorry, your search for...</p>
    <p> <b> {{no_result_query}} </b> </p>
    <p style="color: red">did not turn up any results.</p>
  </div>
</div>
{% else %}
<img src="{{url_for('static', filename='barnett_background.jpg')}}" class="img-responsive" width=100% style="max-height: 500px">
{% endif %}

<div class="container-fluid">
  <div class="row-fluid" style="background-color:#f1f1f1">
    {% for album in albums %}
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
      <div class="img-container">
        <img src={{album.1}} class="img-responsive" width=100% height:auto>
        {% if album.6 %}
        <a onclick="window.open('{{album.6}}')" class="btn btn-success btn-xs link-left"><span class="glyphicon glyphicon-music"></span>Listen</a>
        {% else %}
        <a href class="btn btn-default btn-xs link-left" disabled><span class="glyphicon glyphicon-remove-circle"></span>Listen</a>
        {% endif %}

        <div class="circle similarity2 link-right">
          {{album.5}}
        </div>
      </div>

      <div class="artist-name">
        {{album.2}}
      </div>
      <div class="album-name">
        {{album.3}}
      </div>
      <div class="genre">
        {{album.4}}
      </div>
    </div>
    {% if loop.index is divisibleby 6 %}
    <div class="clearfix visible-md-block visible-lg-block"></div>
    {% endif %}
    {% if loop.index is divisibleby 4 %}
    <div class="clearfix visible-sm-block"></div>
    {% endif %}
    {% if loop.index is divisibleby 2 %}
    <div class="clearfix visible-xs-block"></div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
